[submodule "Libraries/UIButtonBackgroundColor"]
	path = Libraries/UIButtonBackgroundColor
	url = https://github.com/jrudderman/UIButtonBackgroundColor.git
[submodule "Libraries/Networking"]
	path = Libraries/Networking
	url = https://github.com/jrudderman/Networking.git
[submodule "Libraries/CodeInputView"]
	path = Libraries/CodeInputView
	url = https://github.com/jrudderman/CodeInputView.git
